POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=pricing
POSTGRES_USER=pricing_app
POSTGRES_PASSWORD=pricing_app_pw
POSTGRES_ADMIN_USER=postgres
POSTGRES_ADMIN_PASSWORD=postgres_pw
DBT_TARGET=dev
