.env
.venv/
.venv-wsl/
__pycache__/
*.pyc
.pytest_cache/
dbt/logs/
dbt/target/
.mypy_cache/
.ipynb_checkpoints/
data/raw_generated/*.csv
data/external_generated/*.csv
data/exports_for_pbi/*.csv
data/exports_for_memo/*.csv
validation_output_report.json
*.tmp
*.log
Thumbs.db
.DS_Store
